﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<KnowledgeInformatic>
    @{
        ModelSelectList<string> niveis = (ModelSelectList<string>)ViewBag.niveis;
    }
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
       Software <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Software).Placeholder("Nome do Software").Class("form-control col-md-7 col-xs-12").Required(true)
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nível <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumLevel).Options(niveis).Attr("required", "required").Class("form-control").Selected(Model != null ? Model.EnumLevel : "")
    </div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>

