﻿@model WebserviceNimbleHunterLibraries.Models.KnowledgeInformatics
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Habilidades em informática</h1>
<hr/>

@if (Model.Informatics != null && Model.Informatics.Any())
{
    foreach (var informatica in Model.Informatics)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@informatica.Id" aria-expanded="true" aria-controls="collapseOne">
                        @informatica.Software
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Informatica.Editar(informatica.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Informatica.Excluir(informatica.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@informatica.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Software: @informatica.Software</p>
                    <p>Nível de conhecimento: @informatica.EnumLevel</p>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Informatica.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>

}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma habilidade. <a href="@Url.Action(MVC.Informatica.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}

