﻿
@using WebserviceNimbleHunterLibraries.Models
@{
    var usuario = ViewBag.usuario as User;
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Nimble Hunter </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/Content/css/LayoutInterno/jquery.datetimepicker.css" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/071a2c4b67.js"></script>
    <!-- Custom Theme Style -->
    <link href="~/Content/css/LayoutInterno/custom.min.css" rel="stylesheet">
    <link href="~/Content/css/LayoutInterno/master.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action(MVC.Home.Index())" class="site_title"><span>Nimble Hunter</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="@usuario.UrlPhoto" alt="..." class="img-circle profile_img" style="width: 60px; height: 60px">
                        </div>
                        <div class="profile_info">
                            <span>Bem vindo,</span>
                            <h2>@usuario.FullName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    @if (usuario.EnumProfile == "Candidato")
                    {
                        if (usuario.HasCurriculum)
                        {
                            <br />
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    <h3>Currículo</h3>
                                    <ul class="nav side-menu">
                                        <li>
                                            <a href="@Url.Action(MVC.Curriculos.VerCurriculoCompleto(usuario.IdCurriculum))" class="ajax-modal"><i class="fa fa-id-card-o"></i> Visualizar Currículo</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action(MVC.Curriculos.Index(usuario.IdCurriculum))"><i class="fa fa-list-alt"></i> Objetivos e outras informações</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action(MVC.Usuarios.Index())"><i class="fa fa-user"></i> Dados pessoais</a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-plus-circle"></i> Atividades extras <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.AtividadesExtras.Index(usuario.IdCurriculum))">Minhas atividades</a></li>
                                                <li><a href="@Url.Action(MVC.AtividadesExtras.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-certificate"></i> Certificações <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Certificacoes.Index(usuario.IdCurriculum))">Minhas certificações</a></li>
                                                <li><a href="@Url.Action(MVC.Certificacoes.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-file-text-o"></i> Cursos profissionalizantes <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Cursos.Index(usuario.IdCurriculum))">Meus cursos</a></li>
                                                <li><a href="@Url.Action(MVC.Cursos.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-suitcase"></i> Experiências profissionais <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Experiencias.Index(usuario.IdCurriculum))">Minhas experiências</a></li>
                                                <li><a href="@Url.Action(MVC.Experiencias.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-university"></i>Formações acadêmicas <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Formacoes.Index(usuario.IdCurriculum))">Minhas formações</a></li>
                                                <li><a href="@Url.Action(MVC.Formacoes.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-language"></i>Idiomas <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Idiomas.Index(usuario.IdCurriculum))">Meus idiomas</a></li>
                                                <li><a href="@Url.Action(MVC.Idiomas.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-laptop"></i>Informática <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action(MVC.Informatica.Index(usuario.IdCurriculum))">Minhas habilidades em informática</a></li>
                                                <li><a href="@Url.Action(MVC.Informatica.Novo())">Novo</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu_section">
                                    <h3>Oportunidades</h3>
                                    <ul class="nav side-menu">
                                        <li>
                                            <a href="@Url.Action(MVC.Vagas.Index())"><i class="fa fa-search"></i> Vagas</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action(MVC.Usuarios.ProcessosSeletivos())"><i class="fa fa-users"></i> Processo seletivo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    <h3>Currículo</h3>
                                    <ul class="nav side-menu">
                                        <li>
                                            <a><i class="fa fa-home"></i> Criar currículo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>Ações</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="@Url.Action(MVC.Usuarios.PaginaInicial())"><i class="fa fa-home"></i> Home</a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-plus-circle"></i> Vagas<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action(MVC.Vagas.Index())">Minhas vagas</a></li>
                                            <li><a href="@Url.Action(MVC.Vagas.NovaVaga())">Novo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action(MVC.ProcessosSeletivos.VagasProcesso())"><i class="fa fa-users"></i>Processos seletivos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action(MVC.ProcessosSeletivos.VagasHistorico())"><i class="fa fa-users"></i>Histórico</a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-file-text-o"></i> Buscar Candidatos<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorObjetivos())">Buscar por objetivo</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorDadosPessoais())">Buscar por dados pessoais</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorAtividadeExtra())">Buscar por atividade extra</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorCertificacao())">Buscar por certificação</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorCursoProfissionalizante())">Buscar por curso profissionalizante</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorExperienciaProfissional())">Buscar por experiência profissional</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorFormacaoAcademica())">Buscar por formação acadêmica</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorIdioma())">Buscar por idioma</a></li>
                                            <li><a href="@Url.Action(MVC.Buscar.BuscarPorInformatica())">Buscar por informática</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@usuario.UrlPhoto" alt="">@usuario.FullName
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action(MVC.Usuarios.AlterarSenha())">Alterar senha</a></li>
                                    <li><a href="@Url.Action(MVC.Usuarios.Logout())"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 841px !important">
                <div class="">
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="container">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <div id="modal"></div>
    <!-- /footer content -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<!-- Bootstrap -->
    <script src="~/Scripts/LayoutInterno/jquery.livequery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- FastClick -->
    <script src="~/Scripts/LayoutInterno/custom.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/LayoutInterno/jquery.blockui.min.js"></script>
    <script src="~/Scripts/LayoutInterno/validator.min.js"></script>
    <script src="~/Scripts/LayoutInterno/jquery.mask.min.js"></script>
    <script src="~/Scripts/LayoutInterno/datepicker-pt-BR.js"></script>
    <script src="~/Scripts/LayoutInterno/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @*<script src="~/Scripts/LayoutInterno/datepicker-pt-BR.js"></script>*@
    <script src="~/Scripts/LayoutInterno/custom.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script>
        $(function () {
            $.datetimepicker.setLocale('pt');
            $('.campo_data').datetimepicker({
                format: 'd/m/Y',
                lang: 'pt'
            });
            $('.campo_data').datetimepicker({ step: 1 });
            $('.date').mask('00/00/0000');
            $('.phone').mask('(00)0000-0000');
            $('.cellphone').mask('(00)0 0000-0000');
        });
        // initialize the validator function
        validator.message['date'] = 'not a real date';
        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form').on('blur', 'input[required], input.optional', validator.checkField)
            .on('change', 'select.required', validator.checkField);;
        $('.multi.required').on('keyup', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('form').submit(function (e) {
            e.preventDefault();
            if ($(this).hasClass("form-ajax"))
                return false;

            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });

        /* FOR DEMO ONLY */
        $('#vfields').change(function () {
            $('form').toggleClass('mode2');
        }).prop('checked', false);

        $(".right_col").css("min-height", "841px !important");

        $('#alerts').change(function () {
            validator.defaults.alerts = (this.checked) ? false : true;
            if (this.checked)
                $('form .alert').remove();
        }).prop('checked', false);
    </script>
    <!-- /validator -->
    @Html.Partial("_Alertas")
</body>
</html>
