﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.Vacancies
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nimble Hunter</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/f1e9ff4f19.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="~/Content/agency.css" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link href="~/Content/css/LayoutInterno/master.css" rel="stylesheet">
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Nimble Hunter</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="page-scroll" href="@Url.Action(MVC.Usuarios.Index())">MINHA CONTA</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="page-scroll" href="#form-login">LOGIN</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#form-cadastro">CADASTRAR</a>
                        </li>
                    }
                    <li>
                        <a class="page-scroll" href="#vagas">VAGAS</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    BEM VINDO AO NOSSO <br/> RECRUTAMENTO ONLINE
                </div>
                <br />
                <br />
                <br />
                <a href="#services" class="page-scroll btn btn-xl">Cadastre-se</a>
            </div>
        </div>
    </header>
    @if (!User.Identity.IsAuthenticated)
    {
        <section id="form-cadastro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Cadastre-se</h2>
                 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm(MVC.Usuarios.Novo(), FormMethod.Post))
                        {
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="form-group">
                                    @this.TextBox("nome").Class("form-control input-form-lg").Placeholder("Digite seu nome").Attr("required", "required").Attr("data-validation-required-message", "Por favor digite um nome")
                                    @*<input type="text" class="form-control input-form-lg" placeholder="" required data-validation-required-message="Please enter your name.">*@
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    @this.TextBox("cpf").Class("form-control input-form-lg").Placeholder("Digite seu CPF").Attr("required", "required").Attr("data-validation-required-message", "Por favor digite seu cpf")
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    @this.Password("senha").Class("form-control input-form-lg").Placeholder("Digite uma senha").Attr("required", "required").Attr("data-validation-required-message", "Por favor digite uma senha")
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-form-lg" placeholder="Repetir senha" id="repetir-senha" name="repetir-senha" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl btn-form">Cadastrar</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- Contact Section -->
    <!-- Portfolio Grid Section -->
    <section id="vagas" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: #640000">Vagas</h2>
                </div>
            </div>
            <div class="row">
                @if (Model.VacancyList != null && Model.VacancyList.Any())
                {
                    foreach (var vaga in Model.VacancyList)
                    {
                        <div class="col-md-3 col-sm-6 portfolio-item">
                            <a href="@Url.Action(MVC.Vagas.DetalhesVaga(vaga.Id))" class="ajax-modal">
                                <div style="width: 260px; height: 160px; text-align: center; background-color: white">
                                    <h4 style="line-height: 8.75; color: #640000">@vaga.Ocupation</h4>
                                </div>
                            </a>
                            <div class="portfolio-caption text-center">
                                <h4 style="color: #640000">@vaga.City - @vaga.State</h4>
                                @if (vaga.IsVacancyDeficient)
                                {
                                    <p class="text-muted">Vaga destinada a deficientes</p>
                                }

                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>A empresa não tem vagas disponíveis para o candidato.</p>
                }

            </div>
        </div>
    </section>

    @if (!User.Identity.IsAuthenticated)
    {
        <section id="form-login">
            <div class="container">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Login</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm(MVC.Usuarios.Login(), FormMethod.Post))
                {
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="form-group col-md-12">
                                    @this.TextBox("cpf").Class("form-control input-form-lg").Placeholder("Digite seu CPF").Attr("required", "required").Attr("data-validation-required-message", "Por favor digite seu cpf")
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group col-md-12">
                                    @this.Password("senha").Class("form-control input-form-lg").Placeholder("Digite uma senha").Attr("required", "required").Attr("data-validation-required-message", "Por favor digite uma senha")
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div id="success">
                                    </div>
                                    <button type="submit" class="btn btn-xl btn-form">Enviar</button>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>

        </section>
    }
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright" style="color: white">Copyright &copy; Nimble Hunter RH 2016</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div id="modal"></div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <!-- Theme JavaScript -->
<script src="~/Scripts/agency.js"></script>
    <script src="~/Scripts/LayoutInterno/custom.js"></script>
<script src="~/Scripts/app.js"></script>
    @Html.Partial("_Alertas")
</body>
</html>
