﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<AcademicFormation>
@{
    ModelSelectList<string> tiposFormacao = (ModelSelectList<string>)ViewBag.tiposFormacao;
    ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
    ModelSelectList<string> paises = (ModelSelectList<string>)ViewBag.paises;
    ModelSelectList<string> status = (ModelSelectList<string>)ViewBag.status;
    ModelSelectList<string> cidades = (ModelSelectList<string>)ViewBag.estados;
    if (Model != null && !string.IsNullOrWhiteSpace(Model.City))
    {
        cidades = (ModelSelectList<string>)ViewBag.cidades;
    }
}
<br/>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Tipo de Formação <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.TypeFormation).Options(tiposFormacao).Selected(Model == null ? "" : Model.TypeFormation).FirstOption("Selecione uma formação").Class("form-control col-md-7 col-xs-12").Attr("required", "required")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Curso <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Course).Placeholder("Digite o nome do curso").Class("form-control col-md-7 col-xs-12").Required(true)
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Instituto <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Institute).Placeholder("Digite o nome do instituto").Class("form-control col-md-7 col-xs-12").Required(true)
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Status da formação <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.StatusFormation).Options(status).Selected(Model == null ? "" : Model.StatusFormation).Class("form-control col-md-7 col-xs-12").Attr("required", "required")
    </div>
    <br />
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Inicial <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.InitialDate).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data")
    </div>
    <br />
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Final 
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.EndDate).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        País<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.Country).Class("select-paises").Options(paises).Selected(Model == null || string.IsNullOrEmpty(Model.Country) ? "Brasil" : Model.Country).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="box-cidades-brasileiras" style="display: @(Model == null || Model.Country.Equals("Brasil") ? "block" : "none")">
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Estado<span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.AutoSelect("estado").Class("select-estado").Options(estados).Class("form-control col-md-7 col-xs-12").Selected(Model != null ? Model.State : "")
        </div>
        <br />
    </div>
    <div class="item form-group box-select-cidade">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Cidade <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (Model == null || string.IsNullOrWhiteSpace(Model.City))
            {
                @(this.AutoSelect(x => x.City).Class("select-cidade").Class("form-control col-md-7 col-xs-12").Disabled(Model == null || string.IsNullOrWhiteSpace(Model.City)))
            }
            else
            {
                @(this.AutoSelect(x => x.City).Class("select-cidade").Options(cidades).Class("form-control col-md-7 col-xs-12").Selected(Model.City))
            }

        </div>
        <br />
    </div>
</div>
<div class="item form-group box-cidades-estrangeiras" style="display: @(Model != null && !Model.Country.Equals("Brasil") &&  string.IsNullOrWhiteSpace(Model.City) ? "block" : "none")">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nome da Cidade<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.NameCityCountry).Placeholder("Nome da Cidade").Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>

