﻿@model WebserviceNimbleHunterLibraries.Models.AcademicFormations
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Formações acadêmicas</h1>
<hr/>

@if (Model.Formations != null && Model.Formations.Any())
{
    foreach (var formacoes in Model.Formations)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@formacoes.Id" aria-expanded="true" aria-controls="collapseOne">
                        @formacoes.Course
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Formacoes.Editar(formacoes.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Formacoes.Excluir(formacoes.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@formacoes.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Tipo de formação: @formacoes.TypeFormation</p>
                    <p>Curso: @formacoes.Course</p>
                    <p>Instituição: @formacoes.Institute</p>
                    <p>Status da formação: @formacoes.StatusFormation</p>
                    <p>Data inicial: @(formacoes.InitialDate == DateTime.MinValue ? "Não informado" : formacoes.InitialDate.Date.ToString("d"))</p>
                    <p>Data final: @(formacoes.EndDate == DateTime.MinValue ? "Não informado" : formacoes.EndDate.Date.ToString("d"))</p>
                    <p>País: @formacoes.Country</p>
                    @if (@formacoes.Country.Equals("Brasil"))
                    {
                        <p>Cidade: @formacoes.City - @formacoes.State</p>
                    }
                    else
                    {
                        <p>Cidade: @formacoes.NameCityCountry</p>
                    }
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Formacoes.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma formação. <a href="@Url.Action(MVC.Formacoes.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}



