﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<AdditionalField>
@{
    ModelSelectList<string> tiposCampo = (ModelSelectList<string>)ViewBag.tiposCampo;
}
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nome do campo <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.NameField).Placeholder("Nome").Class("form-control col-md-7 col-xs-12").Required(true)
    </div>
    <br />
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Tipo do campo <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumTypeField).Options(tiposCampo).Class("form-control col-md-7 col-xs-12").Attr("Required", true).Selected(Model != null ? Model.EnumTypeField : "")
    </div>
    <br />
</div>
<br />
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>