﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<AdditionalField>
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Editar Campos Adicionais</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.CamposAdicionais.Editar())" novalidate>
    @(this.Hidden("idVaga").Value(Model.IdVacancy))
    @(this.Hidden(x => x.Id).Value(Model.Id))
    @Html.Partial("_formulario", Model)
</form>