﻿@model WebserviceNimbleHunterLibraries.Models.AdditionalFields
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    int idVaga = ViewBag.idVaga;
}

<h1>Campos adicionais</h1>
<hr/>

@if (Model.Fields != null && Model.Fields.Any())
{
    foreach (var campo in Model.Fields)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@campo.Id" aria-expanded="true" aria-controls="collapseOne">
                        @campo.NameField
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.CamposAdicionais.Editar(campo.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.CamposAdicionais.Excluir(campo.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@campo.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Tipo: @campo.EnumTypeField</p>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.CamposAdicionais.Novo(idVaga))" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhum campo adicional. <a href="@Url.Action(MVC.CamposAdicionais.Novo(idVaga))">Clique aqui e cadastre agora.</a></p>
    </div>
}

