﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Novo Campo Adicional</h1>
<hr/>
<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.CamposAdicionais.Novo())" novalidate>
    @(this.Hidden("idVaga").Value(ViewBag.idVaga))
    @Html.Partial("_formulario")
</form>
