﻿.curriculo-completo {
    color: black
}

.linha-curriculo {
    border-width: 2px 0 0;
    border-color: black;
    margin-top: 0;
}

.left_col {
    background-color: #640000;
}

.nav_title {
  background-color: #640000;  
}

body {
   background-color: #640000;
    color: black;
}

.panel-default > .panel-heading {
    background-color: #640000;
    color: white;
}

.btn-danger {
    background-color: #640000
}

.nav_menu {
    background-color: #640000
}

.nav a {
    color: white
}

.nav.navbar-nav > li > a {
    color: white !important
}

.nav.navbar-nav > li > a:hover, .nav.navbar-nav > li > a:active  {
    background-color: #C9302C !important
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: 5px solid #C9302C
}

li .active` {
    background-color: #C9302C;
}


.btn {
    background-color: #640000 !important;
    border: none !important;
}

.navbar-custom .navbar-nav > .active > a {
    background-color: #C9302C !important;
}

.nav.side-menu > li.active > a {
    background: linear-gradient(#C9302C, #C9302C) repeat scroll 0 0%, #C9302C none repeat scroll 0 0
}

.navbar-custom .navbar-brand {
    color: #C9302C !important;
    font-size: 30px;
}

.intro-lead-in {
    color: #C9302C;
    font-family: Arial !important;
    font-weight: 900;
    font-size: 50px !important;
    line-height: 50px !important;
    font-style: normal !important;
}

.navbar-right {
    margin-right: 100px !important;
}

.section-heading {
    color: white;
}

.btn-form {
    background-color: black !important;
}

.btn-default {
    color: white;
}

.btn-default:hover {
    color: white;
}

.btn-default:active {
    color:white
}

.btn-default:after {
    color:white
}

.btn-default:focus {
    color:white
}

.item .alert {
    max-width: 206px !important;
}

a, a:hover, a:focus, a:active {
    color: white
}

.nav-md ul.nav.child_menu li::before {
    background: #C9302C none repeat scroll 0 0
}

.nav-md ul.nav.child_menu li::after {
    border-left: 1px solid white
}

.nav-md ul.nav.child_menu li::before {
    background: white none repeat scroll 0 0
}

td a {
    color: #640000
}

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
    background: #C9302C none repeat scroll 0 0
}

.dropdown-menu > li >a:hover, .dropdown-menu > li >a:focus {
    background: #C9302C none repeat scroll 0 0;
    color: white;
}