﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<KnowledgeLanguage>
    @{
        ModelSelectList<string> idiomas = (ModelSelectList<string>)ViewBag.idiomas;
        ModelSelectList<string> niveis = (ModelSelectList<string>)ViewBag.niveis;
    }
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Idioma <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @(this.AutoSelect(x => x.EnumLanguage).Options(idiomas).FirstOption("Selecione um idioma").Attr("required", "required").Class("form-control").Selected(Model != null ? Model.EnumLanguage : ""))
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nível de Conversação <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @(this.AutoSelect(x => x.EnumConversation).Options(niveis).Attr("required", "required").Class("form-control").Selected(Model != null ? Model.EnumConversation : ""))
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nível de Escrita <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumWriting).Options(niveis).Selected(Model != null ? Model.EnumWriting : "").Attr("required", "required").Class("form-control")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nível de Leitura <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumReading).Options(niveis).Selected(Model != null ? Model.EnumReading : "").Attr("required", "required").Class("form-control")
    </div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>

