﻿@model WebserviceNimbleHunterLibraries.Models.KnowledgeLanguages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Meus idiomas</h1>
<hr/>

@if (Model.Languages != null && Model.Languages.Any())
{
    foreach (var idioma in Model.Languages)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@idioma.Id" aria-expanded="true" aria-controls="collapseOne">
                        @idioma.EnumLanguage
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Idiomas.Editar(idioma.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Idiomas.Excluir(idioma.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@idioma.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Idioma: @idioma.EnumLanguage</p>
                    <p>Nível de escrita: @idioma.EnumWriting</p>
                    <p>Nível de leitura: @idioma.EnumReading</p>
                    <p>Nível de conversação: @idioma.EnumConversation</p>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Idiomas.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>

}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhum idioma. <a href="@Url.Action(MVC.Idiomas.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}

