﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<ExtraActivity>
@{
    ModelSelectList<string> tiposAtividade = (ModelSelectList<string>)ViewBag.tiposAtividade;
    ModelSelectList<string> paises = (ModelSelectList<string>)ViewBag.paises;
    ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
    ModelSelectList<string> cidades = (ModelSelectList<string>)ViewBag.estados;
    if (Model != null && !string.IsNullOrWhiteSpace(Model.City))
    {
        cidades = (ModelSelectList<string>)ViewBag.cidades;
    }
}
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Tipo de Atividade <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.Select(x => x.EnumTypeActivity).Options(tiposAtividade).FirstOption("Selecione um tipo de atividade").Class("form-control col-md-7 col-xs-12").Attr("required", "required").Selected(Model != null ? Model.EnumTypeActivity : "")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Inicial <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.InitialDate).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data").Attr("required", "required")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Final
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.EndDate).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        País<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumCountry).Class("select-paises").Options(paises).Selected(Model == null || string.IsNullOrEmpty(Model.EnumCountry) ? "Brasil" : Model.EnumCountry).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="box-cidades-brasileiras" style="display: @(Model == null || Model.EnumCountry.Equals("Brasil") ? "block" : "none")">
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Estado<span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.AutoSelect("estado").Class("select-estado").Options(estados).Class("form-control col-md-7 col-xs-12").Selected(Model != null ? Model.State : "")
        </div>
        <br />
    </div>
    <div class="item form-group box-select-cidade">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Cidade <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @if (Model == null || string.IsNullOrWhiteSpace(Model.City))
            {
                @(this.AutoSelect(x => x.City).Class("select-cidade").Class("form-control col-md-7 col-xs-12").Disabled(Model == null || string.IsNullOrWhiteSpace(Model.City)))
            }
            else
            {
                @(this.AutoSelect(x => x.City).Class("select-cidade").Options(cidades).Class("form-control col-md-7 col-xs-12").Selected(Model.City))
            }

        </div>
        <br />
    </div>
</div>
<div class="item form-group box-cidades-estrangeiras" style="display: @(Model != null && !Model.EnumCountry.Equals("Brasil") &&  string.IsNullOrWhiteSpace(Model.City) ? "block" : "none")">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nome da Cidade<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.NameCityCountry).Placeholder("Nome da Cidade").Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">
        Descrição: 
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextArea(x => x.Description).Rows(5).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>


