﻿@model WebserviceNimbleHunterLibraries.Models.ExtraActivities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Atividades extras</h1>
<hr/>

@if (Model.Activites != null && Model.Activites.Any())
{
    foreach (var atividade in Model.Activites)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@atividade.Id" aria-expanded="true" aria-controls="collapseOne">
                        @atividade.EnumTypeActivity
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.AtividadesExtras.Editar(atividade.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.AtividadesExtras.Excluir(atividade.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@atividade.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Tipo de atividade: @atividade.EnumTypeActivity</p>
                    <p>Data inicial: @atividade.InitialDate.Date.ToString("d")</p>
                    <p>Data final: @(atividade.EndDate == DateTime.MinValue ? "" : atividade.EndDate.Date.ToString("d"))</p>
                    <p>País: @atividade.EnumCountry</p>
                    @if (@atividade.EnumCountry.Equals("Brasil"))
                    {
                        <p>Cidade: @atividade.City - @atividade.State</p>
                    }
                    else
                    {
                        <p>Cidade: @atividade.NameCityCountry</p>
                    }
                    <p>Descrição: @atividade.Description</p>
                </div>
            </div>
        </div>
    }
    <a href="@Url.Action(MVC.AtividadesExtras.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma atividade. <a href="@Url.Action(MVC.AtividadesExtras.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}

