﻿@model List<WebserviceNimbleHunterLibraries.Models.Curriculum> 
@{
    ViewBag.Title = "VagasHistorico";
    Layout = null;
}

@if (Model == null)
{
    <p></p>
}
else
{
    if (Model.Any())
    {
        <h2>@Model.Count resultados</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Nome:</th>
                            <th class="text-center">Currículo:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var candidato in Model)
                    {
                            <tr>
                                <td class="text-center">@candidato.NameCandidate</td>
                                <td class="text-center"><a href="@Url.Action(MVC.Curriculos.VerCurriculoCompleto(candidato.IdUser))" class="ajax-modal"><i class="fa fa-file-text-o"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>Nenhum candidato foi encontrado com as especificações desejadas.</p>
    }
}

