﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.KnowledgeInformatic>
@{
    ViewBag.Title = "BuscarPorInformatica";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<string> niveis = (ModelSelectList<string>)ViewBag.niveis;
}

<h2>Buscar por habilidades em informática</h2>
<form method="POST" class="form-ajax" action="@Url.Action(MVC.Buscar.BuscarPorInformatica())" novalidate>
    <div class="form-group col-lg-6">
        <label>
           Software
        </label>
        @this.TextBox(x => x.Software).Placeholder("Nome do software").Class("form-control")
        <br />
    </div>
    <div class="form-group col-lg-6">
        <label>
            Nível
        </label>
        @this.AutoSelect(x => x.EnumLevel).Options(niveis).Class("form-control").FirstOption("Todos")
        <br />
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>

