﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.User>
@{
    ViewBag.Title = "BuscarPorDadosPessoais";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<string> generos = (ModelSelectList<string>)ViewBag.generos;
    ModelSelectList<string> estadoCivil = (ModelSelectList<string>)ViewBag.estadoCivil;
    ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
}

<h2>Buscar por dados pessoais</h2>
<form method="POST" class="form-ajax" action="@Url.Action(MVC.Buscar.BuscarPorDadosPessoais())" novalidate>
    <div class="form-group col-lg-6">
        <label>
            Nome
        </label>
        @this.TextBox(x => x.FullName).Placeholder("Nome completo").Class("form-control")
        <br />
    </div>
    <div class="form-group col-lg-6">
        <label>
            Gênero
        </label>
        @this.AutoSelect(x => x.EnumGenre).Options(generos).FirstOption("Todos").Class("form-control")
        <br/>
    </div>
    <div class="form-group col-lg-6">
        <label>
            Estado civil
        </label>
        @this.AutoSelect(x => x.EnumMaritalStatus).Options(estadoCivil).FirstOption("Todos").Class("form-control")
        <br />
    </div>
    <div class="box-cidades-brasileiras">
        <div class="form-group col-lg-6">
            <label>
                Estado
            </label>
            @this.AutoSelect("estado").Options(estados).FirstOption("Todos").Class("select-estado form-control")
            <br />
        </div>
        <div class="form-group col-lg-6">
            <label>
                Cidade
            </label>
            @this.AutoSelect(x => x.City).FirstOption("Todos").Class("select-cidade form-control").Disabled(true)
            <br />
        </div>
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>
