﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.Curriculum>
@{
    ViewBag.Title = "BuscarPorObjetivo";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<string> areasInteresse = (ModelSelectList<string>)ViewBag.areasInteresse;
    ModelSelectList<string> faixasSalario = (ModelSelectList<string>)ViewBag.faixasSalario;
}

<h2>Buscar por objetivo</h2>

<form method="POST" class="form-ajax" action="@Url.Action(MVC.Buscar.BuscarPorObjetivos())" novalidate>
    <div class="form-group col-lg-3">
        <label>
            1ª área de iteresse
        </label>
        @this.AutoSelect(x => x.EnumFirstAreaInterest).Options(areasInteresse).FirstOption("Todos").Class("form-control")
        <br />
    </div>
    <div class="form-group col-lg-3">
        <label>
            2ª área de iteresse
        </label>
        @this.AutoSelect(x => x.EnumSecondAreaInterest).Options(areasInteresse).Class("form-control").FirstOption("Todos")
        <br />
    </div>
    <div class="form-group col-lg-3">
        <label>
            3ª área de iteresse
        </label>
        @this.AutoSelect(x => x.EnumThirdAreaInterest).Options(areasInteresse).Class("form-control").FirstOption("Todos")
        <br />
    </div>
    <div class="form-group col-lg-3">
        <label>
            Salário pretendido
        </label>
        @this.AutoSelect(x => x.EnumSalaryRequeriments).Options(faixasSalario).Class("form-control").FirstOption("Todos")
        <br />
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>


