﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.AcademicFormation>
@{
    ViewBag.Title = "BuscarPorFormacaoAcademica";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<string> paises = (ModelSelectList<string>)ViewBag.paises;
    ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
    ModelSelectList<string> status = (ModelSelectList<string>)ViewBag.status;
    ModelSelectList<string> tiposFormacao = (ModelSelectList<string>)ViewBag.tiposFormacao;
}

<h2>Buscar por formação acadêmica</h2>
<form method="POST" class="form-ajax" action="@Url.Action(MVC.Buscar.BuscarPorFormacaoAcademica())" novalidate>
    <div class="form-group col-lg-6">
        <label>
            Curso
        </label>
        @this.TextBox(x => x.Course).Placeholder("Curso").Class("form-control")
        <br/>
    </div>
    <div class="form-group col-lg-6">
        <label>
            Instituição
        </label>
        @this.TextBox(x => x.Institute).Placeholder("Instituição de ensino").Class("form-control")
        <br/>
    </div>
    <div class="form-group col-lg-6">
        <label>
            Tipo de formação
        </label>
        @this.AutoSelect(x => x.TypeFormation).Options(tiposFormacao).FirstOption("Todos").Class("form-control")
        <br/>
    </div>
    <div class="form-group col-lg-6">
        <label>
            Status
        </label>
        @this.AutoSelect(x => x.StatusFormation).Options(status).Class("form-control").FirstOption("Todos")
        <br/>
    </div>
    <div class="form-group col-lg-6">
        <label>
            Páis
        </label>
        @this.AutoSelect(x => x.Country).Class("select-paises").Options(paises).FirstOption("Todos").Class("form-control")
        <br/>
    </div>
    <div class="box-cidades-brasileiras">
        <div class="form-group col-lg-6">
            <label>
                Estado
            </label>
            @this.AutoSelect("estado").Options(estados).FirstOption("Todos").Class("select-estado form-control")
            <br/>
        </div>
        <div class="form-group col-lg-6">
            <label>
                Cidade
            </label>
            @this.AutoSelect(x => x.City).FirstOption("Todos").Class("select-cidade form-control").Disabled(true)
            <br/>
        </div>
    </div>
    <div class="item form-group box-cidades-estrangeiras" style="display: none">
        <div class="form-group col-lg-6">
            <label>
                Nome da cidade:
            </label>
            @this.TextBox(x => x.NameCityCountry).Placeholder("Nome da cidade").Class("form-control")
            <br/>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>

