﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.Certificate>
@{
    ViewBag.Title = "BuscarPorCertificacao";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h2>Buscar por certificação</h2>

<form method="POST" class="form-ajax" id="form-busca" action="@Url.Action(MVC.Buscar.BuscarPorCertificacao())">
    <div class="form-group col-lg-4">
        <label>
            Certificação <span class="required">*</span>
        </label>
        @this.TextBox(x => x.Certification).Placeholder("Nome da certificação").Class("form-control")
        <br />
    </div>
    <div class="form-group col-lg-4">
        <label>
            Número Orgão Classe
        </label>
        @this.TextBox(x => x.NumberOrganClass).Placeholder("Número da certificação").Class("form-control")
        <br />
    </div>
    <div class="form-group col-lg-4">
        <label>
            Órgão Emissor
        </label>
        @this.TextBox(x => x.OrganIssuer).Placeholder("Órgão Emissor").Class("form-control col-md-7 col-xs-12")
        <br />
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>
