﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<WebserviceNimbleHunterLibraries.Models.KnowledgeLanguage>
@{
    ViewBag.Title = "BuscarPorIdioma";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<string> idiomas = (ModelSelectList<string>)ViewBag.idiomas;
    ModelSelectList<string> niveis = (ModelSelectList<string>)ViewBag.niveis;
}

<h2>Buscar por idioma</h2>

<form method="POST" class="form-ajax" action="@Url.Action(MVC.Buscar.BuscarPorIdioma())" novalidate>
    <div class="form-group col-lg-3">
        <label>
            Idioma
        </label>
        @this.AutoSelect(x => x.EnumLanguage).Options(idiomas).FirstOption("Todos").Class("form-control")
        <br/>
    </div>
    <div class="form-group col-lg-3">
        <label>
            Conversação
        </label>
        @this.AutoSelect(x => x.EnumConversation).Options(niveis).Class("form-control").FirstOption("Todos")
        <br/>
    </div>
    <div class="form-group col-lg-3">
        <label>
            Leitura
        </label>
        @this.AutoSelect(x => x.EnumReading).Options(niveis).Class("form-control").FirstOption("Todos")
        <br/>
    </div>
    <div class="form-group col-lg-3">
        <label>
            Escrita
        </label>
        @this.AutoSelect(x => x.EnumWriting).Options(niveis).Class("form-control").FirstOption("Todos")
        <br />
    </div>
    <div class="form-group col-lg-12 text-center">
        <button type="submit" class="btn btn-danger btn-lg text-center"><i class="fa fa-s"></i> Buscar</button>
    </div>
</form>
<br /><br /><br />
<div id="resultado-busca">
    @Html.Partial("_resultado-busca")
</div>


