﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models

@{
    var usuario = ViewBag.usuario as User;
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Carregar foto</h4>
            </div>
            <form action="@Url.Action(MVC.Usuarios.AlterarFotoUsuario())" form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="chaveUsuario" value="@usuario.Token"/>
                <div class="modal-body">
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @(this.FileUpload("arquivo"))
                        </div>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

