﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<User>
    @{
        ModelSelectList<string> generos = (ModelSelectList<string>)ViewBag.generos;
        ModelSelectList<string> estadoCivil = (ModelSelectList<string>)ViewBag.estadoCivil;
        ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
        ModelSelectList<string> cidades = (ModelSelectList<string>)ViewBag.estados;
        if (Model != null && !string.IsNullOrWhiteSpace(Model.City))
        {
            cidades = (ModelSelectList<string>)ViewBag.cidades;
        }
    }

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nome <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.FullName).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group box-cidades-estrangeiras">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data de Nascimento<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @(this.TextBox(x => x.BirthDate).Value(Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.ToString("dd/MM/yyyy")).Placeholder(DateTime.Now.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data"))
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Nacionalidade <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Nationality).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Gênero <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumGenre).Options(generos).Selected(Model.EnumGenre).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Estado Civil <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumMaritalStatus).Options(estadoCivil).Selected(Model.EnumMaritalStatus).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Possui alguma deficiência?
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.RadioButton(x => x.IsDeficient).Value(true).Checked(Model != null ? Model.IsDeficient : false) Sim
        @this.RadioButton(x => x.IsDeficient).Value(false).Checked(Model != null ? !Model.IsDeficient : true) Não
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Estado<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect("estado").Class("select-estado").Options(estados).Class("form-control col-md-7 col-xs-12").Selected(Model != null ? Model.State : "")
    </div>
    <br/>
</div>
<div class="item form-group box-select-cidade">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Cidade
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if (Model == null || string.IsNullOrWhiteSpace(Model.City))
            {
            @(this.AutoSelect(x => x.City).Class("select-cidade").Class("form-control col-md-7 col-xs-12").Disabled(true))
        }
    </div>
    <br />
</div>
<div class="item form-group box-select-cidade" style="display: @(Model == null || string.IsNullOrWhiteSpace(Model.City) ? "none" : "block")">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Cidade <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if (Model == null || string.IsNullOrWhiteSpace(Model.City))
            {
            @(this.AutoSelect(x => x.City).Class("select-cidade").Class("form-control col-md-7 col-xs-12"))
        }
        else
        {
            @(this.AutoSelect(x => x.City).Class("select-cidade").Options(cidades).Class("form-control col-md-7 col-xs-12").Selected(Model.City))
        }

    </div>
    <br />
</div>

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Endereço <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Address).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        CEP <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Cep).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Número <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Number).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Complemento <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Complement).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Bairro <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Neighborhood).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        E-mail <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Email).Class("form-control col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Telefone <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.HomePhone).Class("form-control phone col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Celular <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.CellPhone).Class("form-control cellphone col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Telefone Opcional <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.OptionalPhone).Class("form-control phone col-md-7 col-xs-12")
    </div>
    <br/>
</div>
<br />
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>