﻿@using MvcContrib.FluentHtml

@{
    ViewBag.Title = "AlterarSenha";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Alterar senha</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Usuarios.AlterarSenha())" novalidate>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Senha antiga <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.Password("senhaAntiga").Class("form-control col-md-7 col-xs-12")
        </div>
        <br />
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Nova senha <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.Password("novaSenha").Class("form-control col-md-7 col-xs-12")
        </div>
        <br />
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Repita a nova senha <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.Password("repetirSenha").Class("form-control col-md-7 col-xs-12")
        </div>
        <br/>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
            <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
        </div>
    </div>
</form>