﻿
@{
    ViewBag.Title = "EditarDadosPessoais";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Editar Dados Pessoais</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Usuarios.EditarDadosPessoais())" novalidate>
    @Html.Partial("_formulario-dados-pessoais")
</form>