﻿@using WebserviceNimbleHunterLibraries.Models
@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

@if (!usuario.HasCurriculum)
{
    <div class="text-center" style="margin-top: 100px">
        <p>você ainda não criou um currículo, clique no botão abaixo para começar !</p>
        <a class="btn btn-lg btn-danger" href="@Url.Action(MVC.Curriculos.Novo())">CRIAR CURRÍCULO</a>
    </div>

}
else
{
    <h3>Dados pessoais</h3>
    <div class="text-right">
        <a href="@Url.Action(MVC.Usuarios.EditarDadosPessoais())" class="btn btn-danger">Editar</a>
    </div>
    <a href="@Url.Action(MVC.Usuarios.AlterarFotoUsuario())" style="margin-left: 25px" class="btn btn-danger ajax-modal">Alterar foto</a>
    <br/>
    <img src="@Model.UrlPhoto" alt="@Model.FullName" style="width: 150px; height: 150px" class="img-thumbnail">
    <br/>
    <br/>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">Dados</h4>
        </div>
        <div class="panel-body">
            <p>Nome: @Model.FullName</p>
            <p>Data de nascimento: @(Model.BirthDate == DateTime.MinValue ? "" : Model.BirthDate.Date.ToString("d"))</p>
            <p>Nacionalidade: @Model.Nationality</p>
            <p>Gênero: @Model.EnumGenre</p>
            <p>Estado civil: @Model.EnumMaritalStatus</p>
            <p>Deficiente? @(Model.IsDeficient ? "Sim" : "Não")</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">Endereço</h4>
        </div>
        <div class="panel-body">
            <p>Cidade/estado: @Model.City - @Model.State</p>
            <p>Endereço: @Model.Address</p>
            <p>CEP: @Model.Cep</p>
            <p>Número: @Model.Number</p>
            <p>Complemento: @Model.Complement</p>
            <p>Bairro: @Model.Neighborhood</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">Contato</h4>
        </div>
        <div class="panel-body">
            <p>E-mail: @Model.Email</p>
            <p>Telefone residencial: @Model.HomePhone</p>
            <p>Celular: @Model.CellPhone</p>
            <p>Telefone opcional: @Model.OptionalPhone</p>
        </div>
    </div>
}


            

