﻿@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.SelectiveProcesses
@{
    ViewBag.Title = "ProcessoSeletivos";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Processo Seletivos</h1>
<hr/>

@if (Model != null && Model.Processes.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <th class="text-center">Vaga:</th>
                <th class="text-center">Situação da vaga:</th>
                </thead>
                <tbody>
                @foreach (var processo in Model.Processes)
                {
                    <tr>
                        <td class="text-center">@processo.Vacancy</td>
                        <td class="text-center">@processo.StatusVacancy</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Você não está em nenhum processo seletivo.</p>
}

