﻿@model WebserviceNimbleHunterLibraries.Models.CompleteCurriculum
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 800px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title text-center" style="color: black" id="gridSystemModalLabel"><strong>@Model.User.FullName</strong></h1>
            </div>
            <div class="modal-body curriculo-completo">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="@Model.User.UrlPhoto" style="width: 150px; height: 150px" class="img-thumbnail"/>
                </div>
                <div class="col-md-8">
                    @if (!string.IsNullOrWhiteSpace(Model.User.EnumGenre))
                    {
                        <p><strong>Gênero:</strong> @Model.User.EnumGenre</p>
                    }
                    @if (Model.User.BirthDate != DateTime.MinValue)
                    {
                        var hoje = DateTime.Today;
                        var idade = hoje.Year - Model.User.BirthDate.Year;
                        <p>
                            <strong>Idade:</strong> @(Model.User.BirthDate > hoje.AddYears(-idade) ? idade - 1 : idade) anos
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.Nationality))
                    {
                        <p><strong>Nacionalidade:</strong> @Model.User.Nationality</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.EnumMaritalStatus))
                    {
                        <p><strong>Estado Civíl:</strong> @Model.User.EnumMaritalStatus</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.HomePhone))
                    {
                        <p><strong>Telefone Fixo:</strong> @Model.User.HomePhone</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.CellPhone))
                    {
                        <p><strong>Celular:</strong> @Model.User.CellPhone</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.OptionalPhone))
                    {
                        <p><strong>Telefone Opicional:</strong> @Model.User.OptionalPhone</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.User.Email))
                    {
                        <p><strong>E-mail:</strong> @Model.User.Email</p>
                    }
                </div>
            </div>
                <div style="clear: both"></div>
                <br /><br />
                @if (Model.Formations.Any())
                {
                    <h4><strong>Formações Acadêmicas</strong></h4>
                    <hr class="linha-curriculo" />
                    foreach (var formacao in Model.Formations)
                    {
                        <h5><strong>Status da Formação:</strong> @formacao.Course - @formacao.StatusFormation</h5>
                        <p><strong>Tipo de Formação:</strong> @formacao.TypeFormation</p>
                        <p><strong>Instituto:</strong> @formacao.Institute</p>
                        <p><strong>País:</strong> @formacao.Country</p>
                        if (string.IsNullOrWhiteSpace(formacao.City))
                        {
                            <p><strong>Nome da Cidade:</strong> @formacao.NameCityCountry</p>
                        }
                        else
                        {
                            <p><strong>Cidade/Estado:</strong> @formacao.City - @formacao.State</p>
                        }
                        if (formacao.InitialDate != DateTime.MinValue)
                        {
                            <p><strong>Data Inicial:</strong> @formacao.InitialDate</p>
                        }
                        if (formacao.EndDate != DateTime.MinValue)
                        {
                            <p><strong>Data Final:</strong> @formacao.EndDate</p>
                        }

                    }
                }
                <br /><br />
                @if (Model.Certificates.Any())
                {
                    <h4><strong>Certificações</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var certificacao in Model.Certificates)
                    {
                        <h5><strong>Certificação:</strong> @certificacao.Certification</h5>
                        <p><strong>Número Órgão Classe:</strong> @certificacao.NumberOrganClass</p>
                        <p><strong>Órgão Emissor:</strong> @certificacao.OrganIssuer</p>
                    }
                }
                <br /><br />
                @if (Model.Informatics.Any())
                {
                    <h4><strong>Informática</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var informatica in Model.Informatics)
                    {
                        <h5><strong>Sotware:</strong> @informatica.Software</h5>
                        <p><strong>Nível:</strong> @informatica.EnumLevel</p>
                    }
                }
                <br /><br />
                @if (Model.Languages.Any())
                {
                    <h4><strong>Idiomas</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var idioma in Model.Languages)
                    {
                        <h5><strong>Linguagem:</strong> @idioma.EnumLanguage</h5>
                        <p><strong>Converação:</strong> @idioma.EnumConversation</p>
                        <p><strong>Leitura:</strong> @idioma.EnumReading</p>
                        <p><strong>Escrita:</strong> @idioma.EnumWriting</p>
                    }
                }
                <br /><br />
                @if (Model.Activities.Any())
                {
                    <h4><strong>Atividades Extras</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var atividade in Model.Activities)
                    {
                        <h5><strong>Tipo de atividade:</strong> @atividade.EnumTypeActivity</h5>
                        <p><strong>Data Inicial:</strong> @atividade.InitialDate</p>
                        if (atividade.EndDate != DateTime.MinValue)
                        {
                            <p><strong>Data Final:</strong> @atividade.EndDate</p>
                        }
                        <p><strong>País:</strong> @atividade.EnumCountry</p>
                        if (string.IsNullOrWhiteSpace(atividade.City))
                        {
                            <p><strong>Nome da Cidade:</strong> @atividade.NameCityCountry</p>
                        }
                        else
                        {
                            <p><strong>Cidade/Estado:</strong> @atividade.City - @atividade.State</p>
                        }
                        if (!string.IsNullOrWhiteSpace(atividade.Description))
                        {
                            <p><strong>Descrição:</strong> @atividade.Description</p>
                        }
                    }
                }
                <br /><br />
                @if (Model.Courses.Any())
                {
                    <h4><strong>Cursos Profissionalizantes</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var curso in Model.Courses)
                    {
                        <h5><strong>Curso:</strong> @curso.Course</h5>
                        <p><strong>Instituiçãp:</strong> @curso.Institute</p>
                        if (curso.Workload != 0)
                        {
                            <p><strong>Carga Horária:</strong> @curso.Workload</p>
                        }
                        if (curso.ConclusionDate != DateTime.MinValue)
                        {
                            <p><strong>Data de Conclusão:</strong> @curso.ConclusionDate</p>
                        }
                        <p><strong>País:</strong> @curso.EnumCountry</p>
                        if (string.IsNullOrWhiteSpace(curso.City))
                        {
                            <p><strong>Nome da Cidade:</strong> @curso.NameCityCountry</p>
                        }
                        else
                        {
                            <p><strong>Cidade/Estado:</strong> @curso.City - @curso.State</p>
                        }
                    }
                }
                <br /><br />
                @if (Model.Experiences.Any())
                {
                    <h4><strong>Experiências profissionais</strong></h4>
                    <hr class="linha-curriculo"/>
                    foreach (var experiencia in Model.Experiences)
                    {
                        <h5><strong>Companhia:</strong> @experiencia.Company</h5>
                        <p><strong>Ocupação:</strong> @experiencia.Occupation</p>
                        <p><strong>Área de Ocupação:</strong> @experiencia.EnumOccupationArea</p>
                        <p><strong>Data de admissão:</strong> @experiencia.AdmissionDate</p>
                        <p><strong>Data de Demissão:</strong> @experiencia.TerminationDate</p>
                        if (!string.IsNullOrWhiteSpace(experiencia.TerminationReason))
                        {
                            <p><strong>Motivo do Desligamento:</strong> @experiencia.TerminationReason</p>
                        }
                        if (!string.IsNullOrWhiteSpace(experiencia.ImmediateSuperior))
                        {
                            <p><strong>Superior Imediato:</strong> @experiencia.ImmediateSuperior</p>
                        }
                        if (experiencia.LastSalary != 0.0)
                        {
                            <p><strong>Último salário:</strong> @experiencia.LastSalary</p>
                        }
                        if (!string.IsNullOrWhiteSpace(experiencia.CompanyPhone))
                        {
                            <p><strong>Telefone da Companhia:</strong> @experiencia.CompanyPhone</p>
                        }
                        <p><strong>País:</strong> @experiencia.EnumCountry</p>
                        if (string.IsNullOrWhiteSpace(experiencia.City))
                        {
                            <p><strong>Nome da Cidade:</strong> @experiencia.NameCityCountry</p>
                        }
                        else
                        {
                            <p><strong>Cidade/Estado:</strong> @experiencia.City - @experiencia.State</p>
                        }
                        if (!string.IsNullOrWhiteSpace(experiencia.ActivitiesPerformed))
                        {
                            <p><strong>Atividades Realizadas:</strong> @experiencia.ActivitiesPerformed</p>
                        }

                    }
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
