﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<Curriculum>
@{
    ModelSelectList<string> areas = (ModelSelectList<string>)ViewBag.areas;
    ModelSelectList<string> grauparentesco = (ModelSelectList<string>)ViewBag.grauparentesco;
    ModelSelectList<string> salarios = (ModelSelectList<string>)ViewBag.salarios;
}

<div class="form-group box-select-cidade">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        1ª área de interesse:<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumFirstAreaInterest).Options(areas).Selected(Model == null ? "" : Model.EnumFirstAreaInterest).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group box-select-cidade">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        2ª área de interesse:<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumSecondAreaInterest).Options(areas).Selected(Model == null ? "" : Model.EnumSecondAreaInterest).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group box-select-cidade">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        3ª área de interesse:<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumThirdAreaInterest).Options(areas).Selected(Model == null ? "" : Model.EnumThirdAreaInterest).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Salário pretendido:<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumSalaryRequeriments).Options(salarios).Selected(Model == null ? "" : Model.EnumSalaryRequeriments).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<br />
<br />

<div class="form-group">
    <div class="checkbox">
        <label>
            @this.CheckBox(x => x.WorkedCompany) Já trabalhou na empresa ?
        </label>
    </div>
</div>
<div class="box-trabalhou-empresa" style="display: none">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Setor onde trabalhou: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.SectorWorked).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Data de admissão: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @(this.TextBox(x => x.AdmitionDateWork).Value(Model == null || Model.AdmitionDateWork == DateTime.MinValue ? "" : Model.AdmitionDateWork.ToString("dd/MM/yyyy")).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12 date campo_data"))
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Data de demissão: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.TerminationDateWork).Value(Model == null || Model.AdmitionDateWork == DateTime.MinValue ? "" : Model.AdmitionDateWork.ToString("dd/MM/yyyy")).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12 date campo_data")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Motivo da demissão: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.TerminationReasonWork).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12")
        </div>
    </div>
</div>
<br />
<br />
<div class="form-group">
    <div class="checkbox">
        <label>
            @this.CheckBox(x => x.HasKinshipWorked) Tem algum parente que trabalhe na empresa ?
        </label>
    </div>
</div>
<div class="box-parente-empresa" style="display: none">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Grau de parentesco: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.AutoSelect(x => x.EnumDegreeKinship).Options(grauparentesco).Selected(Model == null ? "Selecione o grau de parentesco" : Model.EnumDegreeKinship).Class("form-control col-md-7 col-xs-12").FirstOption("Selecione o grau de parentesco")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Nome do parente: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.NameKinship).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Setor onde parente trabaha: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.SectorKinship).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Telefone do parente: <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @this.TextBox(x => x.PhoneKinship).Placeholder("Em qual setor trabalhou?").Class("form-control col-md-7 col-xs-12")
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancel</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        var checkWorked = $(this).is(":checked");
        if (checkWorked) {
            $(".box-trabalhou-empresa").show();
        } else {
            $(".box-trabalhou-empresa").hide();
            $(".box-trabalhou-empresa input").val("");
        }

        var check = $(this).is(":checked");
        if (check) {
            $(".box-parente-empresa").show();
        } else {
            $(".box-parente-empresa").hide();
            $(".box-parente-empresa input").val("");
            $(".box-parente-empresa select").val("Selecione o grau de parentesco");
        }
    });
</script>