﻿@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.Curriculum
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

<h1>Ínformações complementares</h1>
<hr />
<div class="text-right">
    <a href="@Url.Action(MVC.Curriculos.Editar(usuario.IdCurriculum))" class="btn btn-danger">Editar</a>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title"> Objetivos Profissionais</h4>
    </div>
    <div class="panel-body">
        <p>1ª área de interesse: @Model.EnumFirstAreaInterest</p>
        <p>2ª área de interesse: @Model.EnumSecondAreaInterest</p>
        <p>3ª área de interesse: @Model.EnumThirdAreaInterest</p>
        <p>Salário pretendido: @Model.EnumSalaryRequeriments</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">Histórico na Empresa</h4>
    </div>
    <div class="panel-body">
        @if (Model.WorkedCompany)
        {
            <p>Já trabalhou na empresa? @(Model.WorkedCompany ? "Sim" : "Não")</p>
            <p>Setor onde trabalhou: @Model.SectorWorked</p>
            <p>Data de admissão: @(Model.AdmitionDateWork == DateTime.MinValue ? "Não informado" : Model.AdmitionDateWork.ToString())</p>
            <p>Data de demissão: @(Model.TerminationDateWork == DateTime.MinValue ? "Não informado" : Model.TerminationDateWork.ToString())</p>
            <p>Motivo do desligamento: @Model.TerminationReasonWork</p>
        }
        else
        {
            <p>O candidato não trabalhou na empresa.</p>
        }
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="Histórico na Empresa">Parentesco a Empresa</h4>
    </div>
    <div class="panel-body">
        @if (Model.HasKinshipWorked)
            {
            <p>Tem algum parente que trabalhe na empresa ?@(Model.HasKinshipWorked ? "Sim" : "Não")</p>
            <p>Grau de parentesco: @Model.EnumDegreeKinship</p>
            <p>Nome do parente: @Model.NameKinship</p>
                <p>Setor onde o parente trabalha: @Model.SectorKinship</p>
                <p>Telefone do parente: @Model.PhoneKinship</p>
        }
        else
        {
            <p>O candidato nao possui parentes na empresa.</p>
        }
    </div>
</div>


