﻿@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Criar currículo</h1>
<hr/>
@using (Html.BeginForm(MVC.Curriculos.Novo(), FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    @Html.Partial("_formulario")
}
