﻿@model WebserviceNimbleHunterLibraries.Models.Vacancy
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Detalhes da vaga</h4>
            </div>
                <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2>@Model.Ocupation</h2>
                    <p class="item-intro text-muted">@Model.City - @Model.State</p>
                    @if (Model.IsVacancyDeficient)
                    {
                        <p>Vaga destinado a deficientes</p>
                    }
                    <p><strong>Descrição:</strong> @Model.Description</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" hre="#"><i class="fa fa-plus"></i> Candidatar-se</button>    
                    </div>                  
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
