﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<Stepvacancy>
@{
    ModelSelectList<string> etapas = (ModelSelectList<string>)ViewBag.etapasVaga;
}
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Tipo <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect(x => x.EnumStep).Options(etapas).Class("form-control col-md-7 col-xs-12").Attr("Required", true).Selected(Model != null ? Model.EnumStep : "")
    </div>
    <br/>
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Inicial <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.InitialDate).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data").Required(true)
    </div>
    <br/>
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Data Final <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.EndTime).Placeholder(DateTime.Now.Date.ToString("dd/MM/yyyy")).Class("form-control col-md-7 col-xs-12 date campo_data").Required(true)
    </div>
    <br/>
</div>
<br />
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>