﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<Vacancy>
@{
    ModelSelectList<string> estados = (ModelSelectList<string>)ViewBag.estados;
    ModelSelectList<string> cidades = (ModelSelectList<string>)ViewBag.estados;
    if (Model != null && !string.IsNullOrWhiteSpace(Model.City))
    {
        cidades = (ModelSelectList<string>)ViewBag.cidades;
    }
}
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Ocupação <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextBox(x => x.Ocupation).Placeholder("Cargo oferecido").Class("form-control col-md-7 col-xs-12").Required(true)
    </div>
    <br />
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Estado<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.AutoSelect("estado").Class("select-estado").Options(estados).Class("form-control col-md-7 col-xs-12").Selected(Model != null ? Model.State : "")
    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Cidade <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if (Model == null || string.IsNullOrWhiteSpace(Model.City))
            {
            @(this.AutoSelect(x => x.City).Class("select-cidade").Class("form-control col-md-7 col-xs-12").Disabled(Model == null || string.IsNullOrWhiteSpace(Model.City)))
        }
        else
        {
            @(this.AutoSelect(x => x.City).Class("select-cidade").Options(cidades).Class("form-control col-md-7 col-xs-12").Selected(Model.City))
        }

    </div>
    <br />
</div>
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        É uma vaga para deficiente?
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.RadioButton(x => x.IsVacancyDeficient).Value(true).Checked(Model != null ? Model.IsVacancyDeficient : false) Sim
        @this.RadioButton(x => x.IsVacancyDeficient).Value(false).Checked(Model != null ? !Model.IsVacancyDeficient : true) Não
    </div>
    <br />
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Os candidatos podem visualizar esta vaga?
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.RadioButton(x => x.IsVisibleCandidate).Value(true).Checked(Model != null ? Model.IsVisibleCandidate : false) Sim
        @this.RadioButton(x => x.IsVisibleCandidate).Value(false).Checked(Model != null ? !Model.IsVisibleCandidate : true) Não
    </div>
    <br />
</div>
<br />
<div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
        Descrição
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @this.TextArea(x => x.Description).Rows(7).Class("form-control col-md-7 col-xs-12")
    </div>
    <br />
</div>
<br />
<br />
<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-default btn-lg">Cancelar</button>
        <button type="submit" class="btn btn-danger btn-lg text-right">Enviar</button>
    </div>
</div>
