﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@model Vacancy
@{
    ViewBag.Title = "ConfirmacaoCandidatura";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var campos = ViewBag.campos as AdditionalFields;
}

<h1>Confirmação de candidatura a vaga</h1>
<hr/>
<p><strong>Informações da vaga:</strong></p>
<p>Cargo: @Model.Ocupation</p>
<p>Local: @Model.City - @Model.State</p>
@if (Model.IsVacancyDeficient)
{
    <p>Vaga destinada a deficientes</p>
}
<br/><br/>
<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Vagas.CandidatarVaga())" novalidate>
    @this.Hidden("idVaga").Value(Model.Id)
    @if (campos != null && campos.Fields.Any())
    {
        <p>Para finalizar, é necessário responder as perguntas abaixo:</p>
        <br />
        foreach (var pergunta in campos.Fields)
        {
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    @pergunta.NameField <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @this.TextBox("respostas").Class("form-control col-md-7 col-xs-12").Required(true)
                </div>
                <br />
            </div>
        }
    }
    else
    {
        <p>Confirme sua candidatura a vaga clicando em finalizar</p>
    }
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="button" class="btn btn-default btn-lg">Cancelar</button>
            <button type="submit" class="btn btn-danger btn-lg text-right">Finalizar</button>
        </div>
    </div>
</form>