﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<Stepvacancy>
@{
    ViewBag.Title = "EditarEtapa";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Editar Etapa</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Vagas.EditarEtapaVaga())" novalidate>
    @(this.Hidden(x => x.Id).Value(Model.Id))
    @(this.Hidden("idVaga").Value(Model.IdVacancy))
    @Html.Partial("_formulario-etapa", Model)
</form>

