﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<Vacancy>
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

<h1>Editar Vaga</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Vagas.EditarVaga())" novalidate>
    @(this.Hidden("idCurriculo").Value(usuario.IdCurriculum))
    @(this.Hidden(x=>x.Id).Value(Model.Id))
    @Html.Partial("_formulario", Model)
</form>

