﻿@model WebserviceNimbleHunterLibraries.Models.StepsVacancy
@{
    ViewBag.Title = "EtapasVaga";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    int idVaga = ViewBag.idVaga;
}

<h1>Etapas vaga</h1>
<hr/>

@if (Model.Steps != null && Model.Steps.Any())
{
    foreach (var etapa in Model.Steps)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@etapa.Id" aria-expanded="true" aria-controls="collapseOne">
                        @etapa.EnumStep
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.ProcessosSeletivos.Index(etapa.Id))"><i class="fa fa-users" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Vagas.EditarEtapaVaga(etapa.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Vagas.ExcluirEtapaVaga(etapa.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@etapa.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Status: @etapa.EnumStatus</p>
                    <p>Data inicial: @etapa.InitialDate.Date.ToString("d")</p>
                    <p>Data final: @etapa.EndTime.ToString("d")</p>
                </div>
            </div>
        </div>
    }
    <a href="@Url.Action(MVC.Vagas.NovaEtapaVaga(idVaga))" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma etapa para esta vaga. <a href="@Url.Action(MVC.Vagas.NovaEtapaVaga(idVaga))">Clique aqui e cadastre agora.</a></p>
    </div>
}




