﻿@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.Vacancies
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

<h1>Vagas da empresa</h1>
<hr/>

    @if (usuario.EnumProfile == "Candidato")
    {
        if (Model.VacancyList != null && Model.VacancyList.Any())
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <th class="text-center">Cargo:</th>
                        <th class="text-center">Local:</th>
                        <th class="text-center">Especial para deficientes:</th>
                        <th class="text-center">Candidatar-se:</th>
                        <th></th>
                        </thead>
                        <tbody>
                        @foreach (var vaga in Model.VacancyList)
                        {
                            <tr>
                                <td class="text-center">@vaga.Ocupation</td>
                                <td class="text-center">@vaga.City - @vaga.State</td>
                                <td class="text-center">@(vaga.IsVacancyDeficient ? "Sim" : "Não")</td>
                                <td class="text-center"><a href="@Url.Action(MVC.Vagas.CandidatarVaga(vaga.Id))"><i class="fa fa-user"></i></a></td>
                                <td><a href="@Url.Action(MVC.Vagas.DetalhesVaga(vaga.Id))" class="ajax-modal text-center"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <p>Não há vaga disponíveis até o momento.</p>
        }

    }
    else
    {
        if (Model.VacancyList != null && Model.VacancyList.Any())
        {
            foreach (var vaga in Model.VacancyList)
            {
                 <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingOne">
                         <h4 class="panel-title">
                             <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@vaga.Id" aria-expanded="true" aria-controls="collapseOne">
                                 @vaga.Ocupation
                             </a>
                             <div style="float: right">
                                 <a href="@Url.Action(MVC.Vagas.EtapasVaga(vaga.Id))" title="Etapas da vaga"><i class="fa fa-stack-overflow"></i></a>
                                 <a href="@Url.Action(MVC.CamposAdicionais.Index(vaga.Id))" title="Campos adicionais"><i class="fa fa-wpforms" aria-hidden="true"></i></a>
                                 <a href="@Url.Action(MVC.Vagas.EditarVaga(vaga.Id))" title="Editar vaga"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                 <a href="@Url.Action(MVC.Vagas.ExcluirVaga(vaga.Id))" title="Excluir vaga" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                             </div>
                         </h4>
                     </div>
                     <div id="@vaga.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                         <div class="panel-body">
                             <p>Cidade: @vaga.City-@vaga.State</p>
                             <p>Vaga visível para candidato? @(vaga.IsVisibleCandidate ? "Sim" : "Não")</p>
                             <p>Vaga para deficientes? @(vaga.IsVacancyDeficient ? "Sim" : "Não")</p>
                             <p>Status: @vaga.Status</p>
                             <p>Descrição da vaga: @vaga.Description</p>
                         </div>
                     </div>
                 </div>
            }
            <a href="@Url.Action(MVC.Vagas.NovaVaga())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <p>Vocè ainda não cadastrou nenhuma vaga. <a href="@Url.Action(MVC.Vagas.NovaVaga())">Clique aqui e cadastre agora.</a></p>
            </div>
        }
    }
