﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

<h1>Nova Vaga</h1>
<hr/>

<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Vagas.NovaVaga())" novalidate>
    @Html.Partial("_formulario")
</form>

