﻿@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "NovaEtapa";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<h1>Nova Etapa</h1>
<hr/>

<div class="text-center">
</div>
<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Vagas.NovaEtapaVaga())" novalidate>
    @(this.Hidden("idVaga").Value(ViewBag.idVaga))
    @Html.Partial("_formulario-etapa")
</form>