﻿@model WebserviceNimbleHunterLibraries.Models.ProfessionalExperiences
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Experiências profissionais</h1>
<hr/>

@if (Model.Experiences != null && Model.Experiences.Any())
{
    foreach (var experiencia in Model.Experiences)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@experiencia.Id" aria-expanded="true" aria-controls="collapseOne">
                        @experiencia.Company
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Experiencias.Editar(experiencia.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Experiencias.Excluir(experiencia.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@experiencia.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Nome da empresa: @experiencia.Company</p>
                    <p>Ocupação: @experiencia.Occupation</p>
                    <p>Área de ocupação: @experiencia.EnumOccupationArea</p>
                    <p>Data de admissão: @experiencia.AdmissionDate.Date.ToString("d")</p>
                    <p>Data de demissão: @experiencia.TerminationDate.Date.ToString("d")</p>
                    <p>Razão da demissão: @experiencia.TerminationReason</p>
                    <p>Superior imediato: @experiencia.ImmediateSuperior</p>
                    <p>Telefone da companhia: @experiencia.CompanyPhone</p>
                    <p>País: @experiencia.EnumCountry</p>
                    @if (@experiencia.EnumCountry.Equals("Brasil"))
                    {
                        <p>Cidade: @experiencia.City - @experiencia.State</p>
                    }
                    else
                    {
                        <p>Cidade: @experiencia.NameCityCountry</p>
                    }
                    <p>Último salario: R$ @experiencia.LastSalary</p>
                    <p>Atividades realizadas: @experiencia.ActivitiesPerformed</p>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Experiencias.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma experieência. <a href="@Url.Action(MVC.Experiencias.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}



