﻿@model WebserviceNimbleHunterLibraries.Models.Certificates
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Minhas certificações</h1>
<hr/>

@if (Model.CertificatesList != null && Model.CertificatesList.Any())
{
    foreach (var certificacao in Model.CertificatesList)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@certificacao.Id" aria-expanded="true" aria-controls="collapseOne">
                        @certificacao.Certification
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Certificacoes.Editar(certificacao.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Certificacoes.Excluir(certificacao.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
                   
            </div>
            <div id="@certificacao.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Certificação: @certificacao.Certification</p>
                    <p>Numero orgão classe: @certificacao.NumberOrganClass</p>
                    <p>Órgão emisso: @certificacao.OrganIssuer</p>
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Certificacoes.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma certificação. <a href="@Url.Action(MVC.Certificacoes.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}

