﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models

@{
    ViewBag.Title = "Novo";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var usuario = ViewBag.usuario as User;
}

<h1>Nova Certificação</h1>
<hr/>
<form class="form-horizontal form-label-left" method="POST" action="@Url.Action(MVC.Certificacoes.Novo())" novalidate>
    @(this.Hidden("idCurriculo").Value(usuario.IdCurriculum))
    @Html.Partial("_formulario")
</form>
