﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<SelectiveProcess>
    @{
        var usuario = ViewBag.usuario as User;
    }
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Excluir Processo Seletivo</h4>
            </div>
            <form action="@Url.Action(MVC.ProcessosSeletivos.ExcluirProcessoSeletivo())" method="POST">
                @this.Hidden(x => x.Id).Value(Model.Id)
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir o candidato @Model.Candidate do processo seletivo da vaga de @Model.Vacancy ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary">Sim</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
