﻿@using MvcContrib.FluentHtml
@using WebserviceNimbleHunterLibraries.Models
@inherits MvcContrib.FluentHtml.ModelWebViewPage<SelectiveProcess>
@{
    var usuario = ViewBag.usuario as User;
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">@Model.Candidate</h4>
            </div>
            <form action="@Url.Action(MVC.ProcessosSeletivos.Observacao())" method="POST">
                @this.Hidden("idProcesso").Value(Model.Id)
                <div class="modal-body">
                    <div class="form-group">
                        <label>Observação:</label>
                        <textarea name="observacao" class="form-control" rows="5">@Model.Observation</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

