﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.SelectiveProcesses
@{
    ViewBag.Title = "GerenciarVagas";
    var idVaga = ViewBag.idVaga;
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<Stepvacancy> etapas = (ModelSelectList<Stepvacancy>)ViewBag.etapas;
    Stepvacancy etapaAtual = (Stepvacancy)ViewBag.etapaAtual;
}

<h1>Processo seletivo</h1>
<hr/>

<h4>Etapa Atual: <strong>@etapaAtual.EnumStep</strong></h4>

@if (Model.Processes.Any())
{
    <form action="@Url.Action(MVC.ProcessosSeletivos.AprovarCandidatos())" method="POST">
        @this.Hidden("idEtapaAtual").Value(etapaAtual.Id)
        @this.Hidden("idVaga").Value(idVaga)
        <table class="table table-striped">
            <tr>
                <th class="text-center">Aprovados</th>
                <th class="text-center">Candidato</th>
                <th class="text-center">Observação</th>
                <th class="text-center">Currículo</th>
                <th class="text-center">Excluir</th>
            </tr>
            <tbody>
            @foreach (var candidato in Model.Processes)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" name="aprovados" class="aprovar-candidato" value="@candidato.Id"/>
                    </td>
                    <td class="text-center">@candidato.Candidate</td>
                    <td class="text-center"><a class="ajax-modal" href="@Url.Action(MVC.ProcessosSeletivos.Observacao(candidato.IdUser))"><i class="fa @(!string.IsNullOrWhiteSpace(candidato.Observation) ? "fa-file-text" : "fa-file-text-o")"></i></a></td>
                    <td class="text-center"><a class="ajax-modal" href="@Url.Action(MVC.Curriculos.VerCurriculoCompleto(candidato.IdUser))"><i class="fa fa-file-text-o"></i></a></td>
                    <td class="text-center"><a class="ajax-modal" href="@Url.Action(MVC.ProcessosSeletivos.ExcluirProcessoSeletivo(candidato.Id))"><i class="fa fa-times"></i></a></td>
                </tr>
            }
            </tbody>
        </table>

        <div class="form-etapa" style="display: none">
            @if (etapas.Any())
            {
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        Próxima etapa:<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @this.AutoSelect("idProximaEtapa").Options(etapas).Class("form-control col-md-7 col-xs-12").Attr("required", "required")
                    </div>
                    <br/>
                </div>
            }
            <div style="clear: both"></div>
            <br/>
            <div class="item form-group">
                <label class="control-label col-md-12 col-sm-3 col-xs-12" for="first-name">
                    @this.CheckBox("enviarEmail") Deseja enviar e-mail aos candidatos sobre o resultado do processo seletivo?
                </label>
                <br/>
            </div>
            <div class="item form-group mensagens" style="display: none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Mensagem para aprovados:<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @this.TextArea("mensagemAprovados").Rows(7).Class("form-control col-md-7 col-xs-12")
                </div>
                <br/>
            </div>
            <div style="clear: both"></div>
            <br/>
            <div class="item form-group mensagens" style="display: none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    Mensagem para reprovados:<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @this.TextArea("mensagemReprovados").Rows(7).Class("form-control col-md-7 col-xs-12")
                </div>
                <br/>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default btn-lg">Cancelar</button>
                    <button type="submit" class="btn btn-danger btn-lg text-right">@(etapas.Any() ? "Finalizar etapa" : "Finalizar vaga")</button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>Não há candidatos cadastrados para esta etapa da vaga.</p>
}
