﻿@using MvcContrib.FluentHtml
@using Simple.Web.Mvc
@using WebserviceNimbleHunterLibraries.Models
@model WebserviceNimbleHunterLibraries.Models.SelectiveProcesses
@{
    ViewBag.Title = "Historico";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    ModelSelectList<Stepvacancy> etapas = (ModelSelectList<Stepvacancy>)ViewBag.etapas;
    Stepvacancy etapa = (Stepvacancy)ViewBag.etapa;
    
}

<h3>@etapa.EnumStep</h3>
<h5>Status: @etapa.EnumStatus</h5>
<hr />

@if (etapas.Any())
{
    @(this.Hidden("idVaga").Value(etapa.IdVacancy))
    <div class="form-etapa">
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                Etapas:
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                @this.AutoSelect("idEtapa").Options(etapas).Class("form-control col-md-7 col-xs-12").Selected(etapa.Id).Attr("required", "required")
            </div>
            <br />
        </div>
        <div style="clear: both"></div>
    </div>
    <br/><br/>
    if (Model.Processes.Any())
    {
        <table class="table table-striped">
            <tr>
                <th class="text-center">Aprovados</th>
                <th class="text-center">Candidato</th>
                <th class="text-center">Observação</th>
                <th class="text-center">Currículo</th>
            </tr>
            <tbody>
                @foreach (var candidato in Model.Processes)
                {
                    <tr>
                        <td class="text-center">
                            @if (candidato.IsApproved && etapa.EnumStatus.Equals("Concluído"))
                            {
                                <i class="fa fa-check" style="color: chartreuse"></i>
                            }
                        </td>
                        <td class="text-center">@candidato.Candidate</td>
                        <td class="text-center"><a class="ajax-modal" href="@Url.Action(MVC.ProcessosSeletivos.Observacao(candidato.IdUser))"><i class="fa @(!string.IsNullOrWhiteSpace(candidato.Observation) ? "fa-file-text" : "fa-file-text-o")"></i></a></td>
                        <td class="text-center"><a class="ajax-modal" href="@Url.Action(MVC.Curriculos.VerCurriculoCompleto(candidato.IdUser))"><i class="fa fa-file-text-o"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br /><br />
        <p>Não há candidatos cadastrados para esta etapa da vaga.</p>
    }
}
else
{
    <br/><br/>
    <p>A vaga não tem etapas cadastradas</p>
}

