﻿@model WebserviceNimbleHunterLibraries.Models.SelectiveProcesses
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Index</h1>
<hr/>

@if (Model != null && Model.Processes.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <th class="text-center">Candidato:</th>
                <th class="text-center">Excluir:</th>
                </thead>
                <tbody>
                    @foreach (var processo in Model.Processes)
                    {
                        <tr>
                            <td class="text-center">@processo.Candidate</td>
                            <td class="text-center"><a href="@Url.Action(MVC.ProcessosSeletivos.ExcluirProcessoSeletivo(processo.Id))" class="ajax-modal text-center" title="Excluir candidato"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Não há candidatos cadastrados nesta etapa da vaga.</p>
}