﻿@model WebserviceNimbleHunterLibraries.Models.Vacancies
@{
    ViewBag.Title = "VagasHistorico";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Vagas</h1>
<hr/>
@if (Model.VacancyList.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Cargo:</th>
                        <th class="text-center">Local:</th>
                        <th class="text-center">Status:</th>
                        <th class="text-center">Seleção:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vaga in Model.VacancyList)
                    {
                        <tr>
                            <td class="text-center">@vaga.Ocupation</td>
                            <td class="text-center">@vaga.City - @vaga.State</td>
                            <td class="text-center">@vaga.Status</td>
                            <td class="text-center"><a href="@Url.Action(MVC.ProcessosSeletivos.Historico(5, vaga.Id))"><i class="fa fa-user"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Você não possui vagas cadatradas.</p>
}
