﻿@model WebserviceNimbleHunterLibraries.Models.ProfessionalCourses
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Cursos profissionalizantes</h1>
<hr/>

@if (Model.Courses != null && Model.Courses.Any())
{
    foreach (var curso in Model.Courses)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@curso.Id" aria-expanded="true" aria-controls="collapseOne">
                        @curso.Course
                    </a>
                    <div style="float: right">
                        <a href="@Url.Action(MVC.Cursos.Editar(curso.Id))"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="@Url.Action(MVC.Cursos.Excluir(curso.Id))" class="ajax-modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </h4>
            </div>
            <div id="@curso.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Curso: @curso.Course</p>
                    <p>Instituição de ensino: @curso.Institute</p>
                    <p>Carga horária: @(curso.Workload == 0 ? "Não informado" : curso.Workload.ToString())</p>
                    <p>Data de conclusão: @(curso.ConclusionDate == DateTime.MinValue ? "Não informado" : curso.ConclusionDate.ToString())</p>
                    <p>País: @curso.EnumCountry</p>
                    @if (@curso.EnumCountry.Equals("Brasil"))
                    {
                        <p>Cidade: @curso.City - @curso.State</p>
                    }
                    else
                    {
                        <p>Cidade: @curso.NameCityCountry</p>
                    }
                </div>
            </div>
        </div>
    }

    <a href="@Url.Action(MVC.Cursos.Novo())" class="btn btn-danger"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</a>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>Vocè ainda não cadastrou nenhuma certificação. <a href="@Url.Action(MVC.Cursos.Novo())">Clique aqui e cadastre agora.</a></p>
    </div>
}


